.loader {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(6px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.pulse {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #1fb6ff;
  animation: pulseAnim 1s infinite ease-in-out;
}

@keyframes pulseAnim {
  0% {
    transform: scale(0.7);
    opacity: 0.7;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(0.7);
    opacity: 0.7;
  }
}
